.register{
    background-image: url('../../../asset/new_work.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: contain;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
}

.register > h1{
    /* margin: 20px 50px; */
    /* text-align: left; */
    font-size: 60px;
    flex: 3;
    display: flex;
    justify-content: center;
    margin: 30px;
    color: rgba(14, 12, 12);
    text-shadow: 2px 3px teal;
}

.register-login{
    margin: 20px;
    background: teal;
    position: absolute;
    top: 10%;
    right: 15px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

.register-form-div > .register-item{
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 15px;
}

.register-form-div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.register-form{
    margin: 50px 20px;
    display: flex;
    flex: 7;
    flex-direction: column;
}

.log-submit{
    background: teal;
    /* width: 80%; */
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}

.register-form-div > label{
    /* color: red; */
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}