.singlePost{
  flex: 9;
  padding: 40px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.singlePost > img{
  width: 100%;
  border-radius: 10px;
}

.post-icons{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.post-icon1{
  color: rgba(104, 104, 11, 0.582);
  font-size: 26px;
}

.post-icon2{
  color: red;
}

.name1{
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.name2{
  font-size: 40px;
  color: rgb(18, 206, 58);
  font-weight: lighter;
  text-transform: capitalize;
}

.singpostDesc{
  line-height: 2.4;
  color: green;
  font-size: 20px;
  display: block;
}

.post-title{
  font-size: 26px;
}

.time-crt{
  font-style: italic;
}